.uk-table uk-table-divider {
    thead {
        tr {
            th {
                background-color: red;
                color: red;
            }
        }
    }
}
#tableData {
    background-color: red;
    color: blue($color: #0c16aa);
}