body {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

button {
    all: unset;
    cursor: pointer;
    background-color: lightblue;
    color: aliceblue;
    padding: 8px 16px;
    color: black;
}

.hide {
    display: none;
}